---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Juan González - @juancho11gm"
  description="Web Engineer at Kinesso. JavaScript and AI enthusiast. Learning everyday about tech and personal growth."
>
  <p>
    I’m a passionate Software Developer with over 5 years of experience using
    Web Development technologies. I’m a strong team player and a self-taught
    individual contributor. I bring proactive and innovative initiatives from
    inception to completion. I have led successful software projects in various
    sectors, from online advertising to the education area. I have the ability
    to adapt to new environments and technologies easily and quickly. I take
    ownership of the projects I work on and consistently seek out cutting-edge
    solutions and the best engineering practices, following design patterns and
    methodologies to deliver exceptional results. I am a result-oriented
    developer who thrives in a collaborative environment, fostering a high level
    of team spirit, accountability, and problem-solving skills. I am committed
    to teaching and mentoring teammates. My passion for reading and learning
    about AI, programming, and personal growth keeps me up-to-date with industry
    trends and fuels my drive to innovate and excel.
  </p>
</BaseLayout>
